<div class="logo footer-logo">
        <a href="index.html" class="logo-link">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="80" height="30">
                <defs>
                    <pattern id="filler" patternUnits="userSpaceOnUse" width="80" height="27">
                        <image
                            xlink:href="//cdn.shopify.com/s/files/1/1066/8018/t/2/assets/logo_bg.png?0"
                            width="80" height="27" preserveAspectRatio="none"></image>
                    </pattern>
                </defs>
                <text x="0" y="93%" font-weight="bold" textLength="80" font-size="30"
                    fill="url(#filler)">ВКСС</text>
            </svg>

            <img src="images/logo.png" class="logo-img" alt="logo">

            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="60" height="30">
                <defs>
                    <pattern id="filler" patternUnits="userSpaceOnUse" width="60" height="27">
                        <image
                            xlink:href="//cdn.shopify.com/s/files/1/1066/8018/t/2/assets/logo_bg.png?0"
                            width="60" height="27" preserveAspectRatio="none"></image>
                    </pattern>
                </defs>
                <text x="0" y="93%" font-weight="bold" textLength="60" font-size="30"
                    fill="url(#filler)">ВІТІ</text>
            </svg>
        </a>
    </div>
    <span>© ВІЙСЬКОВИЙ КОЛЕДЖ СЕРЖАНТСЬКОГО СКЛАДУ ВІТІ ім. Героїв Крут, 2009-2019.</span>
